// Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    outline:none;
}

::-moz-focus-inner {
    border:0;
}


// Fonts

@import 'fonts';


// Variables

$sm-break: 480px;
$md-break: 767px;
$lg-break: 991px;

$orange: #e18b46;
$purple: #9B85CD;


// Mixins

@mixin font-proxima-light {
    font-family: 'ProximaNova-Light', Helvetica, Arial, sans-serif;
}

@mixin font-proxima-bold {
    font-family: 'ProximaNova-SemiBold', Helvetica, Arial, sans-serif;
}

@mixin font-franklin {
    font-family: 'Franklin Gothic Demi', Georgia, serif;
}

@mixin font-garamond {
    font-family: 'Garamond Premier Pro Light Display', Helvetica, Arial, sans-serif;
}

@mixin vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin reverse-vertical-center {
    position: static;
    top: auto;
    transform: translateY(0);
}

@mixin for($media) {
    @if $media == mobile {
        @media only screen and (max-width: $sm-break) {
            @content;
        }
    } @else if $media == tablets {
        @media only screen and (max-width: $md-break) {
            @content;
        }
    } @else if $media == tablet-large {
        @media only screen and (max-width: $lg-break) {
            @content;
        }
    }
}


// General Styles

html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    @include font-proxima-light;
}

p {
    line-height: 2;
}

a.site-link {
    @include font-proxima-bold;
    text-decoration: none;
    white-space: nowrap;
    color: $orange;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s ease, padding-bottom 0.2s ease;

    &:hover {
        padding-bottom: 5px;
        border-color: $orange;
        cursor: pointer;
    }
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-header {
    position: relative;
    max-width: 640px;
    margin: 0 auto 40px auto;
    padding-top: 15px;
    padding-bottom: 15px;
    @include font-franklin;
    font-size: 1em;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

@keyframes flash {
    0%   { opacity: 0; }
    2%   { opacity: 1; }
    20%  { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes brighten {
    0%   { opacity: 0.5; }
    2%   { opacity: 0.9; }
    20%  { opacity: 0.9; }
    100% { opacity: 0.5; }
}


/* Hero */

.hero {
    position: relative;
    height: 620px;
    background: url(../images/hero-bg.jpg) no-repeat calc(50% + 4px) 95%;
    background-size: cover;
    overflow: hidden;

    &:before {
        content: ' ';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: rgba(17, 29, 30, 0.8);
        z-index: 9;
    }    

    .headshot-wrapper {
        position: relative;
        top: 100px;
        z-index: 10;

        &.lit {
            .stripe:after {
                animation: brighten 1.75s linear 0s 1;
            }

            .headshot {
                opacity: 1;
            }
        }

        .stripe {
            position: relative;
            height: 80px;
            overflow: hidden;

            &:after {
                content:'';
                width: 150px;
                height: 150px;
                margin: -75px 0 0 -75px;
                position:absolute;
                top: 50%; 
                left: 50%;                
                border-radius: 100%;
                box-shadow: 0px 0px 0px 2000px rgba(255, 255, 255, 1);
                opacity: 0.5;
            }
        }        

        .headshot {
            display: block;
            width: 130px;
            margin: -65px 0 0 -65px;
            position: absolute;
            left: 50%;
            top: 50%;
            border-radius: 50%;
            opacity: 0.5;
            z-index: 11;
            transition: opacity 0s ease .035s;

            @media screen and (max-width: 600px) {
                opacity: 1;
            }
        }           
    }

    .lightning {
        max-width: 50%;
        position: absolute;
        top: 0;
        opacity: 0;
        z-index: 9;

        @media screen and (max-width: 600px) {
            display: none;
        }

        &.left {
            left: 0;

            @media screen and (max-width: 1300px) {
                left: -8%;
            }
            @media screen and (max-width: 1100px) {
                left: -15%;
            }     
            @media screen and (max-width: 900px) {
                left: -20%;
            }                       
        }

        &.right {
            right: 0;

            @media screen and (max-width: 1300px) {
                right: -8%;
            } 
            @media screen and (max-width: 1100px) {
                right: -15%;
            }  
            @media screen and (max-width: 900px) {
                right: -20%;
            }                          
        }

        &.flash {
            animation: flash 1.75s linear 0s 1;
        }
    }

    h1, h2 {
        padding: 0 20px;
        position: relative;
        top: 170px;
        text-align: center;
        line-height: 1;
        color: #fff;
        z-index: 10;
    }

    h1 {
        @include font-garamond;
        font-size: 3.25em;
        letter-spacing: 1px;
    }

    h2 {
        margin: 20px 0 35px 0;
        @include font-franklin;
        font-size: 1em;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    .hero-arrow {
        display: block;
        width: 21px;
        margin: 0 auto;
        position: relative;
        top: 170px;
        font-size: 21px;
        color: #fff;
        transition: 0.2s color ease;
        z-index: 10;

        &:hover {
          cursor: pointer;
          color: $orange;
        }
    }
}


/* About */

.about {
    padding: 90px 0;
    text-align: center;

    p {
        margin: 0 auto 30px auto;

        &:last-of-type {
            margin-bottom: 0;
        }

        em {
            font-style: italic;
        }
    }
}


/* Skills */

@media screen and (min-width: $sm-break) {
    .come-in-skill {
        transform: translateY(300px);
        animation: come-in-skill 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) forwards;
    }

    @keyframes come-in-skill {
        to { transform: translateY(0); }
    }
}

.skills {
    margin: 10px 0 20px 0;

    .skill-list {
        background: url(../images/hero-bg.jpg) no-repeat 0 86%;
        background-size: cover;
        overflow: hidden;

        @media screen and (max-width: 600px) {
            background-position: center;
        }

        li {
            display: flex;
            width: 12.5%;
            height: 110px;            
            justify-content: center;
            align-items: center;
            float: left;
            cursor: pointer;
            background: rgba(255, 255, 255, 0.4);
            transform: translateY(300px);
            transition: background 0.3s ease, border 0.2s linear;

            @media screen and (max-width: 600px) {
                border-right: 5px solid #fff;
                border-bottom: 5px solid #fff;
                transform: translateY(0px);
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0);
            }

            &.appeared {
                border-right: 5px solid #fff;

                @media screen and (max-width: 1100px) {
                    border-bottom: 5px solid #fff;
                }
            }

            &:first-child {
                border-left: 0;
                animation-delay: 0.3s;
            }

            &:nth-child(2) {
                animation-delay: 0.6s;
            }

            &:nth-child(3) {
                animation-delay: 0.2s;
            }

            &:nth-child(4) {
                animation-delay: 0.4s;

                @media screen and (max-width: 1100px) {
                    border-right: 0;
                }
            }

            &:nth-child(6) {
                animation-delay: 0.3s;
            }

            &:nth-child(7) {
                animation-delay: 0.5s;
            }

            &:last-child {
                border-right: 0;
            }

            h4 {
                position: relative;
                @include font-franklin;
                text-transform: uppercase;
                letter-spacing: 2px;            
                color: #fff;                
            }

            @media screen and (max-width: 1100px) {
                width: 25%;
                height: 115px;
            }

            @media screen and (max-width: 600px) {
                width: 50%;

                &:nth-child(even) {
                    border-right: none !important;
                }
            }
        }
    }
}


/* Work */

@media screen and (min-width: $sm-break) {
    .come-in-work {
        transform: translateY(300px);
        animation: come-in-work 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) forwards;
    }

    @keyframes come-in-work {
        to { transform: translateY(0); }
    }
}

.work {
    padding: 120px 0;

    .work-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            width: 32%;
            margin-bottom: 2%;

            @media screen and (max-width: 450px) {
                width: 48%;
                margin-bottom: 4%;
            }          

            a {
                display: block;
                position: relative;
                border: 0;
                overflow: hidden;
                transform: translateZ(0);

                &:hover, &.hover {

                    img {
                        transform: scale(1);
                    }

                    .work-title {
                        bottom: 0;
                    }
                }

                img {
                    display: block;
                    width: 100%;
                    transform: scale(1.2);
                    transition: transform 0.3s ease;
                    backface-visibility: hidden;
                }

                .work-title {
                    width: 100%;
                    padding: 15px;
                    position: absolute;
                    bottom: -100%;
                    left: 0;
                    background-color: rgba(#000, 0.7);
                    transition: bottom 0.3s ease;
                    z-index: 20;

                    h2 {
                        margin-bottom: 5px;
                        @include font-proxima-bold;
                        font-size: .875em;
                        line-height: 1.3125;
                        text-transform: uppercase;
                        color: #fff;
                    }

                    h3 {
                        font-size: 0.8125em;
                        color: #fff;

                        &:hover {
                          text-decoration: underline;
                        }                        
                    }
                }
            }
        }
    }
}


/* Parallax */

.parallax-container {
    height: 280px;
    background: url('../images/parallax-bg.jpg') no-repeat fixed 100% 50%;
    background-size: cover;

    @media screen and (max-width: 600px) {
        background: url('../images/parallax-mobile.jpg');
        background-position: center;
    }
}


/* Contact */

.contact {
    width: 100%;
    padding: 120px 0;

    p {
        text-align: center;
    }

    .social-box {
      margin: 20px 0 27px 0;
      text-align: center;

        a {
            margin-right: 10px;
            font-size: 38px;
            color: $purple;
            text-decoration: none;
            transition: color 0.2s linear;        

            &:hover {
              color: lighten($purple, 8%);
            }
        }
    }   

    .message-status {

        &.message-success, &.message-failure {
            margin-bottom: 30px;    
            padding: 15px;
            text-align: center;
        }

        &.message-success {
            border: 1px solid green;
            color: green;
        }

        &.message-fail {
            border: 1px solid red;
            color: red;      
        }
    } 

    .contact-form {
        width: 100%;

        input, textarea {
            width: 100%;
            margin-bottom: 15px;
            padding: 15px;
            @include font-proxima-light;
            font-size: 1em;
            border: 1px solid #ddd;
            transition: 0.2s border ease;


            &:focus {
              border-left: 5px solid $orange;
            }
        }

        textarea {
            height: 200px;
            resize: none;
        }

        button {
            width: 100%;
            padding: 15px;
            border: 0;
            @include font-proxima-bold;
            font-size: 1em;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #fff;
            cursor: pointer;
            background-color: $orange;
            transition: background-color 0.3s ease;

            &.submitted, &:hover {
                background-color: lighten($orange, 8%);
            }
        }
    }
}


/* Footer */

footer {
    padding: 40px 0;
    background-color: #333;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        color: #ddd;
    }
}
